* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #660099;
  font-family: 'Roboto';
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.page-content {
  background-color: white;
  max-width: 90%;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.line {
  margin: 20px 0;
}

.header {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #666666;
}

.header-top h1 {
  font-family: 'Times';
}

h2 {
  color: #666666;
}

h2, 
h3 {
  margin-top: 10px;
}

.main-right {
  width: 40%;
  float: right;
  background-color: black;
  color: white;
}

.header-main-right, 
.content-main-right {
  margin: 20px;
}

.tab-links{
  background-color: darkgrey;
  color: black;
  border-radius: 3px 3px 0 0;
  padding: 5px 5px 0;
}

.tab-content {
  float: left;
  padding: 20px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  overflow-y: auto;
  background-color: white;
  color: black;
}

.tab-content p{
  margin-top: 10px;
}

.tab-content h2{
  color: #002b80;
}

a {
  color: #FF9966;
}

.tab a:hover {
  background-color: #ddd;
}

.tab a.active {
  background-color: #ccc;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}
